<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<div class="registration">
<h3>Current Voter Registration</h3>
<p><%= @user.address %><br />
<%= @user.city %>, <%= @user.state %> <%= @user.zip_code %></p>
</div>

<h3>Recommended</h3>

  <% @documents.each do | document |%>
  <br>
    <%=link_to 'sign petition', sign_users_path("user" =>@user.id, "document" => document.id)%><%=     document.name%></a>
  <% end  %>

<h3 class="mt-2">Signed Documents</h3>
  <div class="signed-doc">
    <%= @documents[1].name %>
  </div>

<h3 class="mt-2">Divisions</h3>
<p>You are eligible to sign petitions in these jurisdictions:</p>
<!-- cards -->
<div class="row">
<% divisions = @user.civic_json['divisions'] %>
<% divisions.each do |key, value| %>
  <div class="division col-md-3">
  <p class="division-name align-middle"><a href="#"><%= value['name'] %></a></p>
  </div>
<% end %>
</div>

