<div class="jumbotron landing">
  <%= image_tag("persist-logo.png", class: "img-fluid", alt: "Persist logo") %><h1 class="display-3">Persist</h1>
  <p class="lead">Targeted civic engagement</p>
  <%= link_to "Register", new_user_path , class: 'btn btn-outline-primary' %>
  <%= link_to "Log In", user_path(User.find(1)) , class: 'btn btn-outline-primary' %>
</div>

<h3 class="display-4">For Constituents</h3>


<div class="row">
  <div class="col-md-4 text-center">
    <%= image_tag("signature.png", class: 'img-fluid') %>
    <h5>Docusign eSignature</h5>
  </div>
  
   <div class="col-md-4 text-center">
    <%= image_tag("map.png", class: 'img-fluid', width: '250px') %>
  <h5>Find stuff that matters</h5>
  <p>Persist helps you locate petitions and initiatives by your district</p>
  </div>

  <div class="col-md-4 text-center">
  <%= image_tag("checklist.png", class: 'img-fluid', width: '150px') %>
  <h5>Hold elected officials accountable</h5>
  <p>Send petitions to your local officials</p>
  </div>
  
</div>

<h3 class="display-4">For Organizers</h3>

<div class="row">
  <div class="col-md-4 text-center">
    <%= image_tag("opinion.png", class: 'img-fluid', width: '200px') %> 
    <h5>Quickly gather opinions</h5>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag("magnifier.png", class: 'img-fluid', width: '175px') %> 
    <h5>Verify</h5>
    <p>Minimize duplicate signatures</p>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag("target.png", class: "img-fluid", width: '150px') %>
    <h5>Reach your constituents</h5>
  </div>
</div>

<h3 class="display-4">Powered by:</h3>
<div class="row">
  <div class="col-md-4 text-center">
    <%= image_tag("docusign-logo-standard.png", class: "img-fluid", alt: "Docusign logo") %>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag("google-developers-logo.png", class: "img-fluid", alt: "Google Developers logo") %>
    <h5>Civic Information API</h5>
  </div>
</div>