<div class="jumbotron">
  <h1 class="display-3">Persist</h1>
  <p class="lead">Words, snappy, snappy words go here</p>
</div>

<h3 class="display-4">For Constituents</h3>


<div class="row">
  <div class="col-md-4">
    <%= image_tag("signature.png", class: 'img-fluid') %>
    <h5>Sign</h5>
    <p>Bleep blorp</p>
  </div>
  
   <div class="col-md-4">
    <%= image_tag("map.png", class: 'img-fluid') %>
  <h5>Find stuff that matters</h5>
  <p>Bleep blorp</p>
  </div>

  <div class="col-md-4">
  <h5>Make an impact on local civics</h5>
  </div>
  
</div>

<h3 class="display-4">For Organizers</h3>

<div class="row">
  <div class="col-md-4">
    <h5>Do things</h5>
  </div>
  <div class="col-md-4">
    <h5>Stop collecting useless signatures</h5>
  </div>
  <div class="col-md-4">
    <%= image_tag("target.png", class: "img-fluid") %>
    <h5>Reach your constituents</h5>
    <p>Bleep blorp</p>
  </div>
</div>

<h3 class="display-4">Powered by:</h3>
<div class="row">
  <div class="col-md-4">
    <%= image_tag("docusign-logo-standard.png", class: "img-fluid", alt: "Docusign logo") %>
  </div>
  <div class="col-md-4">
    <%= image_tag("google-developers-logo.png", class: "img-fluid", alt: "Google Developers logo") %>
    <p>Civic Information API</p>
  </div>
</div>